<!-- NAV LINKS -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	


<nav class="tab-links">
	<ul class="tabs">
		<li class="selected btn btn-default"><a href="#tab1">Inleiding</a></li>
		<li class="btn btn-default"><a href="#tab2">Reisroute</a></li>
		<li class="btn btn-default"><a href="#tab3">Routekaart</a></li>
	</ul>
</nav>

<!-- TABS  -->

<div class="tabs">
	<div id="tab1" class="tab active">
		d
	</div>
	<div id="tab2" class="tab">
		d
	</div>
	<div id="tab3" class="tab">
		x
	</div>
	<div id="tab4" class="tab">
		sd
	</div>
	<div id="tab5" class="tab">
		ds
	</div>
</div>


</body>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="script.js"></script>
</html>