<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

    <h1> Tickets </h1>

<table class="table table-hover">
    <tr>
        <th>Datum</th>
        <th>Prioriteit</th>
        <th>Description</th>
        <th>Cutstomer</th>
    <tr>
        <td>Test</td>
        <td>Ticket 1</td> 
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr class="danger">
        <td>Test</td>
        <td>Ticket 2</td> 
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr class="success">
        <td>Test</td>
        <td>Ticket 3</td> 
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>Ticket 4</td> 
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>Ticket 5</td> 
        <td>Test</td>
        <td>Test</td>
    </tr>    
</table>

</body>
</html>